# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.AndroidAppDev.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Poochiiii\Documents\GitHub\AndroidAppDev\.idea\.idea.AndroidAppDev.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
